<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhusx.opensource">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".image.FrescoPhotoViewActivity" />
        <activity android:name=".list.LRecyclerViewActivity" />
        <activity android:name=".image.PhotoViewActivity" />
        <activity android:name=".progress.AVLoadingActivity" />
        <activity android:name=".camera.PictureSelectorActivity" />
        <activity android:name=".selector.BannerDotActivity" />
        <activity android:name=".selector.DiscreteSeekBarActivity" />
        <activity android:name=".selector.WaveSideBarActivity" />
        <activity android:name=".camera.ZXingActivity" />
    </application>
</manifest>
